html {overflow:-moz-scrollbars-vertical !important;}

/* Body */
	body {
		background: #F5F4EF; /*url('../images/bg.png')*/
		color: #000305;
		font-size: 1em; 
		font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
	}


	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/**
*
* Framework navigation
*
*/
 #selfengine {
	display:block;
	border:1px solid #eee;
	background: #eee;
	margin: 8px;
	text-align:center;
	height: 80px;
	
}



@media screen and (max-width: 240px) {
	

	

	 
}


@media screen and (min-width: 600px) {
