html {overflow:-moz-scrollbars-vertical !important;}

/* Body */
	body {
		background: #F5F4EF; /*url('../images/bg.png')*/
		color: #000305;
		font-size: 1em; 
		font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
	}


	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/**
*
* Framework navigation
*
*/
 #selfengine {
	display:block;
	border:1px solid #eee;
	background: #eee;
	margin: 8px;
	text-align:center;
	height: 80px;
	
}

#identity {
	display:inline;
	margin-left:1em;
   -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:1.5em;
    font-weight:bold;
    padding:0.6em 1em;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

#network {
	display:inline;
	margin-left:1em;
   -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:1.5em;
    font-weight:bold;
    padding:0.6em 1em;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

#tools {
	display:inline;
	margin-left:1em;
   -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:1.5em;
    font-weight:bold;
    padding:0.6em 1em;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}



/**
*
* Flow areas
*
*/
 #attention {
	display:block;
	border:1px solid #eee;
	background: #eee;
	margin: 8px;
	text-align:center;
	height: 80px;
	
}


 #attention {
	display:block;
	border:1px solid #eee;
	background: pink;
	margin: 8px;
	text-align:center;
	height:auto;
	
}

 #contextflow {
	display:block;
	display:none;
	border:1px solid #eee;
	background: #eee;
	margin: 8px;
	text-align:center;
	height: 80px;
	
}

 #networkflow {
	display:block;
	display:none;
	border:1px solid #eee;
	background: #eee;
	margin: 8px;
	text-align:center;
	height: auto;
	
}

 #toolsflow {
	display:block;
	display:none;
	border:1px solid blue;
	background: #eee;
	margin: 8px;
	text-align:center;
	
}

#toolsicons  {
	display:block;
	border:1px solid green;
	background: #eee;
	margin: 8px;
	text-align:center;	
}

.toolsnavigation a {
	display:inline;
	margin-left:1em;
   -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:0.7em;
    font-weight:bold;
    padding:0.6em 1em;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;	
}

#toolsactive  {
	display:block;
	border:1px solid purple;
	background: #eee;
	margin: 8px;
	text-align:center;
	height: auto;
	
}

#dragmakerelationshipknowledge,#buildrecordtimetemplate {
	display:block;
	border:1px solid purple;
	background: pink;
	margin: 8px;
	text-align:center;
	min-height:30px;
	
}

#listrelationshipknowledge {
	display:block;
	border:1px solid green;
	background: orange;
	margin: 8px;
	text-align:center;
	min-height:30px;
	
}


#dragselfnow li {
	display:inline;
	text-align:center;
	height: auto;
	margin: 4px;
	
}


/**
*
* RecordTime tool (should be in own mini setup plug)
*
*/
#buildrecordtimetemplate li {
	display:inline;
	margin: 6px;
	text-align:center;
	height: auto;
	
}


/**
*
* Flow areas
*
*/
 #livedata {
	display:block;
	border:1px solid #eee;
	background:  #eee;
	margin: 8px;
	text-align:center;
	width:auto ;
	height:auto;
	
}

 #activeself {
	display:block;
	border:1px solid #5f5f5f;
	background: #eee;
	margin: 4px;
	text-align:center;
	height: auto;
	width:auto;
	
}

 #pastflow {
	float:left;
	border:1px solid #5f5f5f;
	background: #eee;
	margin: 8px;
	text-align:center;
	height: auto;
	width:45%;
	
}

 #futureflow {
	float:left;
	border:1px solid #b29f7c;
	background: #eee;
	margin: 8px;
	text-align:center;
	height: auto;
	width:45%;
	
}


/**
*
* Chart areas
*
*/
 #pastchart {
	display:block;
	background: light grey;
	height: 300px;
	width: 90%;
	
}

 #futurechart {
	background: #ffe4b2;
	height: 300px;
	width:90%;
	
}


@media screen and (max-width: 320px) {
	

	#identity {
	display:inline;
	margin-left:1em;
   -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:1em;
    font-weight:bold;
    padding:0.6em 1em;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

#network {
	display:inline;
	margin-left:1em;
   -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:1em;
    font-weight:bold;
    padding:0.6em 1em;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

#tools {
	display:inline;
	margin-left:1em;
   -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:1em;
    font-weight:bold;
    padding:0.6em 1em;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

	 
}


@media screen and (min-width: 600px) {
